* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f9fafb;
}

a {
  text-decoration: none;
}

.menu-topo nav ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}
